<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Homepage</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="#" rel="icon">
    <link href="#" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h3 class="text-center">Upload Image</h3>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group mb-2">
                    <label for="input_value" class="sr-only">Select File</label>
                    <input type="file" accept="image/*" required class="form-control" id="input_value">
                </div>

                <div class="imagePreview mb-2 mt-2">

                </div>
                <button type="submit" class="btn btn-primary mb-2">Upload</button>
            </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    let imgInp = $('#input_value');

    $(function () {
        var imagesPreview = function (input, placeToInsertImagePreview) {

            if (input.files) {
                var filesAmount = input.files.length;

                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();

                    reader.onload = function (event) {
                        $($.parseHTML('<img>')).attr('src', event.target.result).addClass('w-25').appendTo(placeToInsertImagePreview);
                    }

                    reader.readAsDataURL(input.files[i]);
                }
            }

        };

        imgInp.on('change', function () {
            $('.imagePreview').empty();
            imagesPreview(this, 'div.imagePreview');
        });
    });
</script>
</body>
</html>